# Configuration file

general {

    machines {
        # Power config for Solar Panels.
        # Parameters: Base gen
        I:base_solar=16
        I:burnerCapacity=2000
        S:burner_fuels <
            biodiesel, 16
            ethanol, 8
            creosote, 4
            gasoline, 20
            methanol, 20
         >

        # Power storage config for Solar Panels.
        # Parameters: Storage
        I:storage_solar=25000

        # Decay chance of Thorium Rods.
        # Parameters: chance
        # Min: 1
        # Max: 2147483647
        I:thoriumRodDecay=6538

        # Durability of Thorium Rods.
        # Parameters: durability
        # Min: 1
        # Max: 2147483647
        I:thoriumRodMaxDamage=32600

        # Decay chance of Uranium Rods.
        # Parameters: chance
        # Min: 1
        # Max: 2147483647
        I:uraniumRodDecay=5338

        # Durability of Thorium Rods.
        # Parameters: durability
        # Min: 1
        # Max: 2147483647
        I:uraniumRodMaxDamage=31800
    }

    ores {
        # Generation config for Thorium Ore.
        # Parameters: Vein size, lowest possible Y, highest possible Y, veins per chunk, chance for vein to spawn (out of 100). Set vein size to 0 to disable the generation
        I:ore_thorium <
            5
            8
            24
            2
            80
         >

        # Generation config for Tungsten Ore.
        # Parameters: Vein size, lowest possible Y, highest possible Y, veins per chunk, chance for vein to spawn (out of 100). Set vein size to 0 to disable the generation
        I:ore_tungsten <
            2
            8
            24
            2
            30
         >

        # The retrogeneration key. Basically IEn checks if this key is saved in the chunks data. If it isn't, it will perform retrogen on all ores marked for retrogen.
        # Change this in combination with the retrogen booleans to regen only some of the ores.
        S:retrogen_key=DEFAULT

        # Set this to false to disable the logging of the chunks that were flagged for retrogen.
        B:retrogen_log_flagChunk=false

        # Set this to false to disable the logging of the chunks that are still left to retrogen.
        B:retrogen_log_remaining=false

        # Set this to true to allow retro-generation of Thorium Ore.
        B:retrogen_thorium=false

        # Set this to true to allow retro-generation of Tungsten Ore.
        B:retrogen_tungsten=false
    }

    tools {
        I:armor_plates_upgrade_resist=3
        I:heat_base_resist=1000
        I:heat_upgrade_resist=1000
        B:penetrating_arrow_ignore=true
        I:penetrating_arrow_knockback=1
        I:penetrating_arrow_penetrating_damage=3
        I:penetrating_arrow_regular_damage=2
        I:shock_arrow_electric_damage=3
        B:shock_arrow_ignore=false
        I:shock_arrow_knockback=0
        I:shock_arrow_regular_damage=2
    }

    compat {
        B:immersiveintelligence=true
        B:immersivepetroleum=true
        B:sereneseasons=true
    }

}


